@font-face {
    font-family: OktaNeue;
    src: url(../assets/fonts/OktaNeueUltraLight/font.woff2);
    font-display: swap
}

@font-face {
    font-family: OktaNeueBold;
    src: url(../assets/fonts/OktaNeueBlackItalic/font.woff2);
    font-display: swap
}



/* UTILITIES */
.margin-bottom {
    margin-bottom: 10px;
}

.margin-none {
    margin: 0;
}

.margin-no-top {
    margin-top: 0;
}

.line-height {
    line-height: 1;
}

.pull-right {
    float: right;
}

.dollars:before {
    content: '$';
    font-size: 0.7em;
    vertical-align: top;
    margin-right: -3px;
}



/* GENERIC */
body {
    font-size: 20px;
    padding: 20px 30px;
    font-family: 'OktaNeue', monospace;
}

main,
header {
    max-width: 600px;
    margin: 0 auto;
}

ul {
    padding-left: 0;
    margin: 0;
}

sup {
    font-size: 0.75em;
    vertical-align: top;
}

hr {
    border: solid black 2px;
}

h1,
h3 {
    font-weight: 400;
}

h1, 
h2 {
    font-family: 'OktaNeueBold', monospace;
}

h2 {
    margin-top: 20px;
    margin-bottom: 0;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    font-weight: 900;
}

ul {
    list-style: none;
}

/* NAV */
.nav {
    list-style:none;
    display:flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.nav label {
    cursor: pointer;
    font-size: 1.17em;
}


/* CONTACT */
.contact a {
    display: block;
    margin-bottom: 20px;
}

.contact a:last-of-type {
    margin-bottom: 0;
}

.contact a:first-of-type {
    /* margin-top: 20px; */
}

.contact img {
    border-radius: 3px;
    max-width: 100%;
}

.hours li {
    display: table-row;
}

.hours .day,
.hours .hour {
    display: table-cell;
}

.hours .hour {
    padding-left: 25px;
}

.content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info {
    /* float: right; */
    margin-bottom: 20px;
}



/* ABOUT */
.about img {
    border-radius: 3px;
    max-width: 100%;
}





/* SERVICES */
.services img {
    border-radius: 3px;
    max-width: 100%;
}

.services h3 {
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.services > ul > li {
    margin-top: 20px;
    margin-bottom: 30px;
}

.single-dash,
.single-star,
.double-star {
    padding-left: 5px;
    margin-left: -5px;
}

.single-dash {
    list-style-type: "-";
}

.single-star,
.double-star {
    font-size: 0.8em;
}

.single-star {
    list-style-type: "*";
}

.double-star {
    list-style-type: "**";
}


/* MOBILE */
@media only screen and (max-width: 400px) {
    body {
        padding: 10px;
    }

    .about p {
        font-size: inherit;
    }
}



/* RAINBOW BACKGROUND */
/* https://www.gradient-animator.com */
.bg {
    position: fixed;
    top: -200px;
    right: -200px;
    bottom: -200px;
    left: -200px;
}

.logo-wrapper {
    margin-top: 100px;
    text-align: center;
}

.logo {
    max-width: 200px;
    opacity: 0.8;
}

.bg.irridescent {
    z-index: -200;
    background: linear-gradient(270deg, #82ffdf, #ff9a6f, #feff78, #83e5ff, #eeeeff, #ffa9ea, #ff8989, #ffffff);
    background-size: 1600% 1600%;

    -webkit-animation: Irridescent 10s ease infinite;
    -moz-animation: Irridescent 10s ease infinite;
    animation: Irridescent 10s ease infinite;
}

@-webkit-keyframes Irridescent {
    0% {
        background-position: 45% 0%
    }

    50% {
        background-position: 56% 100%
    }

    100% {
        background-position: 45% 0%
    }
}

@-moz-keyframes Irridescent {
    0% {
        background-position: 45% 0%
    }

    50% {
        background-position: 56% 100%
    }

    100% {
        background-position: 45% 0%
    }
}

@keyframes Irridescent {
    0% {
        background-position: 45% 0%
    }

    50% {
        background-position: 56% 100%
    }

    100% {
        background-position: 45% 0%
    }
}